.App {
  text-align: center;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100vw;
  border: solid rgb(171,42,25) 3px;
  background-color: rgb(171,42,25);
  color: white;
  margin-bottom: 30px;
  display: flex;
  align-items: flex-start;
}

.logo {
  margin-left: 50px;
}

.Form {
  height: 350px;
  width: 300px;
  background-color: rgb(58,216,135);
  border-radius: 10px;
}